body{
  background-color: rgb(221, 218, 218);
}
.App {
  text-align: center;
}
.weather-input{
  background-color: rgba(0, 0, 255, 0.897) !important;
}
.btn-light{
  border-radius: 56px !important;
}

